{% extends 'base.html' %}

{% block content %}
    <script>
    function goBack() {
      window.history.back();
    }
    </script>
    <h1 class="pageTitle">{% block title %}{{ event[0].event_name }} Attendees{% endblock %}</h1>

    <div class ="tableContents">
        <form class="viewTable" action="/events" method="POST">
            <div class="table-scroll">
                <table class="entity-table">
                    <tr>
                        <th>Attendee</th>
                        <th>Email Address</th>
                    </tr>
                    {% for i in results %}        
                    <tr class="entity-table--row">        
                        <td class="entity-table--information">{{i['attendee_name']}}</td>
                        <td class="entity-table--information">{{i['attendee_email']}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </form>
        <button class="submit-button"
        onclick="history.back()">Back to All Events</button>
    </div>     
{% endblock %}